<!--index.wxml-->
<view class="contain">
	<view class="head-avatar">
		<image src="{{vipInfo.AvatarUrl}}" mode="widthFix" class="img" />
	</view>

	<view class="machine-admin" bindtap="paiMachineButtonHandle">派派机管理员</view>
	
	<view class="merchant" bindtap="paiHomeButtonHandle">每日派派商家</view>
</view>
