
<view class="swiper-tab">
  <view class="swiper-tab-item" data-current="0" data-status="0" bindtap="swichNav">
    <text class="item-name {{status==0 ? 'is-sel-lable' : ''}}" >未签收</text>
    <view class="item-bottom-line {{status==0 ? 'is-sel-line' : ''}}"></view>
  </view>
   <view class="swiper-tab-item" data-current="1" data-status="1" bindtap="swichNav">
     <text class="item-name {{status==1 ? 'is-sel-lable' : ''}}">已签收</text>
     <view class="item-bottom-line {{status==1 ? 'is-sel-line' : ''}}"></view>
   </view> 
  
</view>

<swiper current="{{status}}" class="swiper-box" duration="300" style="height:{{winHeight - 40}}px;margin-top:40px;" bindchange="bindChange">

  <!-- 未签收 -->
  <swiper-item> 
    <view class="no-data" wx:if="{{allOrderList.length == 0}}">
        <view class="no-data-icon">
            <image src="/images/no_data_order_icon.png" mode="widthFix" class="img" />
        </view>
        <view class="no-data-desc">{{isLoadding == 1? "正在加载...":"暂时没有订单哦"}}</view>

    </view>

    <scroll-view scroll-y style="height: 100%;" bindscrolltolower="scrollToLowerHandle" wx:if="{{allOrderList.length > 0}}">
        <view class="receive-product-list">
             <block wx:for="{{allOrderList}}" wx:key="unique">
                <view class="receive-product" >
                    <view class="receive-time-status">
                        <view class="receive-time">{{item.OrderTime}}</view>
                        <view class="receive-status">未签收</view>
                    </view>
                    <view class="receive-product-content" data-order="{{item}}" 
                    data-currentIndex="{{index}}" bindtap="orderDetailHandle">
                        <view class="receive-product-pic">
                            <image class="img" mode="widthFix" src="{{imgPrex}}{{item.OrderPreviewPic}}" />
                        </view>
                        <view class="receive-product-info">
                            <view class="receive-product-name">订单编号：{{item.OrderNo}}</view>
                            <view class="receive-product-name">收货人：{{item.ReceiverName}}</view>
                            <view class="machine-address">手机号：{{item.ReceiverPhone}}</view>    
                            <view class="machine-address">订单数量：{{item.Amount}}件</view>   
                            <view class="machine-address">订单金额：￥{{item.TotalMoney}}</view>  
                        </view>
                        
                    </view>
                    <view class="receive-product-btns">
                        <view class="show-recieve-code-btn" 
                        data-order="{{item}}" data-currentIndex="{{index}}" bindtap="receiveHandle">签收</view>
                      
                    </view>
                </view>
            </block>
            <view class="load-more">
                <view wx:if="{{isLoadMore == 1}}">
                    <include src="/component/load-more.wxml"/> 
                </view>
                <view wx:if="{{isLoadMore == 2}}">
                    <view class="no-more-desc">没有更多订单</view>
                </view>
            </view>
        </view>
    </scroll-view >

  </swiper-item>

  <!-- 已签收 -->
  <swiper-item>
    <view class="no-data" wx:if="{{noReceiveOrderList.length == 0}}">
        <view class="no-data-icon">
            <image src="/images/no_data_order_icon.png" mode="widthFix" class="img" />
        </view>
        <view class="no-data-desc"> {{isLoadding == 1? "正在加载...":"暂时没有订单哦"}}</view>
    </view>

    <scroll-view scroll-y style="height: 100%;" bindscrolltolower="scrollToLowerHandle"  wx:if="{{noReceiveOrderList.length > 0}}">
        <view class="receive-product-list">
             <block wx:for="{{noReceiveOrderList}}" wx:key="unique">
                <view class="receive-product" data-order="{{item}}" >
                    <view class="receive-time-status">
                        <view class="receive-time">{{item.OrderTime}}</view>
                        <view class="receive-status">已签收</view>
                    </view>
                    <view class="receive-product-content"  data-order="{{item}}" 
                    data-currentIndex="{{index}}" bindtap="orderDetailHandle">
                        <view class="receive-product-pic">
                            <image class="img" mode="widthFix" src="{{imgPrex}}{{item.OrderPreviewPic}}" />
                        </view>
                        <view class="receive-product-info">
                            <view class="receive-product-name">收货人：{{item.ReceiverName}}</view>
                            <view class="machine-address">手机号：{{item.ReceiverPhone}}</view>    
                            <view class="machine-address">订单数量：{{item.Amount}}</view>   
                            <view class="machine-address">订单金额：{{item.TotalMoney}}</view>  
                        </view>
                    </view>
                </view>
            </block>
            <view class="load-more">
                <view wx:if="{{isLoadMore == 1}}">
                    <include src="/component/load-more.wxml"/> 
                </view>
                <view wx:if="{{isLoadMore == 2}}">
                    <view class="no-more-desc">没有更多订单</view>
                </view>
            </view>
        </view>
    </scroll-view>
  </swiper-item>
</swiper>


