<!--pages/merchant/merchantOrdersList/merchantHomePage/merchantHomePage.wxml-->
<view class='contain'>
    <view class="merchant-container">

        <!-- 顶部商家信息 -->
        <view class="merchant-list-header">
            <view class="logOut-buttom" bindtap="doLogOut">注销</view>
            <view class="merchant-user-icon">
                <image class="img" mode="widthFix" src="{{vipInfo ? vipInfo.AvatarUrl : '/images/merchant_user_icon.png'}}" />
            </view> 
            <view class="merchant-user-info">
                <view class="merchant-user-nick">
                    商家: {{merchantData.Name}}
                </view>
            </view>
            <view class="merchant-sales-receive">
                <view class="did-not-receive">未领: {{merchantData.UnTakeNum}}</view>
                <view class="have-to-receive">已领: {{merchantData.TakeNum}}</view>
                <view class="receive-order-count">总数: {{merchantData.TotalNum}}</view>
            </view>
        </view>

        <!-- 主体操作选项 -->
        <view class="nav-list">

            <view class="nav-item" style="border-bottom:1px solid #e3e3e3;border-right:1px solid #e3e3e3;" bindtap="scanQcodeHandle"> 
                <view class="nav-item-icon">
                    <image src="/images/merchant_scan_icon.png" mode="widthFix" class="img" />
                </view>
                <view class="nav-item-desc">扫码验证</view>
            </view>

            <view class="nav-item" style="border-bottom:1px solid #e3e3e3;">
                <navigator class="nav-button" url="/pages/merchant/merchantOrdersList/merchantOrdersList">
                    <view class="nav-item-icon">
                        <image src="/images/machine_repl.png" mode="widthFix" class="img" />
                    </view>
                    <view class="nav-item-desc" >订单列表</view>
                </navigator>
            </view>

            <view class="nav-item" style="border-bottom:1px solid #e3e3e3;border-right:1px solid #e3e3e3;">
                <navigator class="nav-button" url="/pages/merchant/merchantProductList/merchantProductList">
                    <view class="nav-item-icon">
                        <image src="/images/merchant_product_icon.png" mode="widthFix" class="img" />
                    </view>
                    <view class="nav-item-desc">商品列表</view>
                </navigator>
            </view>

        </view>

    </view>
</view>

<!-- 商家订单确认弹框 -->
<view wx:if="{{isShowModal}}" class="confirm-order-modal">
    <view class='scan-success-modle' style="width:{{screenWidth}}px;height:{{screenHeight}}px" bindtap="hideButtonClick"></view>
    <view wx:if="{{scanAfterBackOrderDetail}}" class="modal-content"  animation="{{animationSuccess}}">
        <view class="modal-product-pic">
            <image class="img" mode="aspectFill" src="{{imgPrex + scanAfterBackOrderDetail.ProductPreviewPic}}" />
        </view>
        <view class="modal-order-detail">
            <view class="order-detail-orderNo">
                订单号: {{scanAfterBackOrderDetail.OrderNo}}
            </view>
            <view class="order-detail-productName">
                商品名: {{scanAfterBackOrderDetail.ShortName}}
            </view>
            <view class="order-detail-userInfo">
                <view class="userInfo-icon">
                    <image class="img" mode="widthFix" src="{{scanAfterBackOrderDetail.AvatarUrl}}" />
                </view>
                <view class="userInfo-text">
                    <view class="userInfo-text-nick">用户名: {{scanAfterBackOrderDetail.NickName}}</view>
                    <view class="userInfo-text-mobile">手机号: {{scanAfterBackOrderDetail.Mobile}}</view>                    
                </view>
            </view>
            <view class="order-create-time">
                订单时间: {{scanAfterBackOrderDetail.createTime}}
            </view>
        </view>
        <view class="confirm-buttom" bindtap="confirmButtonClick">确认订单</view>
    </view>
</view>

